body{
    font-family: 'Poppins', sans-serif;
}
/*-----------------Header Section Style------------*/
.navbar{
    background-color:#264653;
}
#log-in-btn{
    color: white;
    background-color: #E76F51;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 30px;
}
.honda-name{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}
/*----------Hero Section Style------------*/
#hero-section{
    background-color:#264653;
    width: 100%;
}
.purchase-btn{
    background-color: #E76F51;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}
button a{
    text-decoration: none;
    color: white;
}
.hr{
    margin-left: 45%;
    margin-right: 45%;
    border: 1px solid #E76F51;
}
/*---------------Main Section Style--------------*/
.feature-title{
    color: #E76F51;
}
.feature-bike img{
    filter: grayscale(100%);
}
.news-btn{
    color: white;
    background-color: #E76F51;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}
.news-btn-outline{
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #E76F51;
    color: #E76F51;
}
.color-text-client{
    color: #E76F51;
}
.clients-img img{
  width: 149px;
  height: 149px;
  
}
#clients-say{
    margin-top: 100px;
}
#FAQ{
    margin-top: 200px;
}
#bike-gallary{
    margin-top: 200px;
}
#buy-now{
    margin-top: 200px;
}
.fa-star{
    color: #E76F51;
}
.client-name{
    color: #23A6F0;
}
/*----------------Footer Section Style-------*/
.footer{
    background-color: #0B0D17;
    height: 150px;
    padding-top: 40px;
    padding-bottom: 100px;
}
.footer-menu a{
    text-decoration: none;
    color: white;
    padding: 4px 10px;
}
/*============================All Style Is End===========================*/